# Environment variables to use during development

# 10.0.2.2 is the host loopback address when running on emulator.
# The frontend uses this to know what IP address to connect to.
# If you are debugging using the emulator, you don't have to change this.
# If you are debugging on a real phone, set this to your computer's local IP address.
SERVER_IP="10.0.2.2"

# The backend uses this to decide what port to run on.
# The frontend uses this to decide what port to connect to.
# You do not have to change this unless you are getting port conflicts.
SERVER_PORT="26542"

# The docker compose file uses this to decide what host port the database should run on.
# The backend uses this to decide what port to connect to for the database.
# You do not have to change this unless you are getting port conflicts.
DATABASE_PORT="26543"

# The docker compose file uses this to decide what host port the S3 server should run on.
# The backend uses this to decide what port to connect to for the S3 server.
# You do not have to change this unless you are getting port conflicts.
S3_PORT="26544"

# The docker compose file uses this to decide what host port the PostgreSQL Web UI should run on.
# You can access the Web UI from your browser.
# You do not have to change this unless you are getting port conflicts.
PGWEB_PORT="26545"

# The backend uses this to sign and verify JWTs.
# You do not have to change this.
JWT_SECRET="arbitrary-string"

# The backend uses this to search for news articles.
# You must change this.
# Create an Azure Bing Search resource at https://portal.azure.com/#create/microsoft.bingsearch
# You can use the F1 tier, which is free.
# Once the resource is created, set this variable to one of your subscription keys.
BING_SEARCH_API_KEY="your-api-key"
